{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@api": "./src/api",
          "@constants": "./src/constants",
          "@models": "./src/models",
          "@server": "./src/server"
        }
      }
    ],
    "transform-es2015-modules-commonjs",
    "transform-flow-strip-types",
    "inline-import-graphql-ast"
  ]
}
