{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/standard",
    "prettier/flowtype"
  ],
  "plugins": ["flowtype"],
  "env": {
    "jest": true
  }
}
